body {
  background-color: #070c0a;
}

.app_name {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.app_name h1 {
  font-size: 48px;
  margin: 0;
  color: #17f57f;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}

.direction_from {
  color: #17f57f;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  margin-left: 280px;
}

.direction_to {
  color: #17f57f;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  margin-left: 100px;
}

.select-container {
  display: inline-block;
  width: 200px;
  height: 40px;
  margin: 0 10px;
}

.select-container select {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(0, 174, 125);
  outline: none;
  background-color: #070c0a;
  color: #17f57f;
  font-size: 16px;
  font-weight: 600;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.select-container::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #444 transparent transparent transparent;
  pointer-events: none;
}

.select-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #444 transparent;
  pointer-events: none;
}

/* Hover style for select container */
.select-container:hover::before {
  border-color: #777 transparent transparent transparent;
}

.select-container:hover select {
  background-color: #eaeaea;
  color: #222;
}


.input_container {
  display: flex;
  align-items: center;
  background-color: #070c0a;
  margin-top: 20px;
  margin-left: 240px;
  padding: 10px;
}


.input_container .label label, .input_container .input_box textarea, .input_container .button button{
  color: #17f57f;
  font-size: 16px;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
}

.input_container .input_box textarea {
  flex: 1;
  height: 200px;
  width: 500px;
  border: 1px solid #17f57f;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  line-height: normal;
  margin-left: 15px;
  resize: none;
}

.input_container .input_box {
  color: #17f57f;
  width: 50%;
}

.input_container .button button{
  color: #070c0a;
  background-color: #17f57f;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
  cursor: pointer;
}

.result_container {
  display: flex;
  align-items: center;
  background-color: #070c0a;
  margin-top: 20px;
  margin-left: 195px;
  padding: 10px;
}

.result_container label {
  color: #17f57f;
  font-size: 16px;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: transparent;
}

.result_container textarea {
  height: 200px;
  width: 500px;
  border: 1px solid #17f57f;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  line-height: normal;
  margin-left: 15px;
  background-color: transparent;
  color: #17f57f;
  font-size: 16px;
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  font-weight: 600;
  resize: none;
}